<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <a mat-menu-item routerLink="/dashboard" target="_blank">Dashboard</a>
  <a mat-menu-item routerLink="/example" target="_blank">Examples</a>
  <a mat-menu-item routerLink="/ag-grid" target="_blank">Ag-grid</a>
  <a mat-menu-item routerLink="/nongrx" target="_blank">No NgRx</a>
  <a mat-menu-item routerLink="/resource" target="_blank">Resource</a>
</mat-menu>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
