<div class="mat-elevation-z1">
  <mat-table #table [dataSource]="dataSource" matSort matSortActive="expireTime" matSortDirection="desc" matSortDisableClear>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let row" (click)="selectId(row.id)">
        <button mat-button> {{row.id}} </button>
      </mat-cell>
    </ng-container>

    <!-- Author Column -->
    <ng-container matColumnDef="author">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Author </mat-header-cell>
      <mat-cell *matCellDef="let row" matTooltip="{{userData$ | async}}" (mouseenter) ="getUser(row.author)"> {{row.author}} </mat-cell>
    </ng-container>

    <!-- A Column -->
    <ng-container matColumnDef="product">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Product </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.product}} </mat-cell>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Price </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.price | currency:'AUD':'symbol-narrow':'1.2-2'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="expireTime">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Timer </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <app-countdown [updateTime]="row.updatedTime"
                       [expireTime]="row.expireTime"
                       [max]="60" [stop]="row.stop"
                       (secEmitter)="updateStatus($event, row)" #countDown></app-countdown>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-button (click)="stop(row)" [disabled]="row.status!=='PENDING'"> Stop </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{row.status}}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="row.highlightClass"></mat-row>
  </mat-table>
</div>
